body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('fundo-romantico.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    color: #333; /* Mudamos para uma cor de texto mais escura para melhor legibilidade */
}

header {
    background-color: rgba(255, 112, 112, 0.8);
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #ff4d4d;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e60000;
}

.compliment-text {
    font-size: 28px;
    font-style: italic;
    margin-top: 20px;
}

#compliment {
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo mais claro para parecer uma carta */
    max-width: 600px; /* Limita a largura para melhor leitura */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Adiciona borda como se fosse um selo */
#compliment::before {
    content: ' ';
    display: block;
    border: 5px solid #ff4d4d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: -35px auto 15px;
}
